*{
  margin: 0;
}
body{
  background-color: lightgrey;
}

.header{
  height: 87px;
  background-color: #213366;
  color: beige;
}
.header h1{
  padding-top: 23px;
  margin-left: 45px;
  text-align: justify;
  font-size: 35px;
  color: beige;
  font-family: "Bodoni Bd BT";
}
.header h2{
  margin-top: -30px;
  margin-left: 1200px;
  text-align: justify;
  font-size: 13px;
  color: beige;
  font-family: Arial;
}
.header h3{
  margin-top: -10px;
  margin-left: 1270px;
  text-align: justify;
  font-size: 13px;
  color: beige;
  font-family: Arial;
}

.gambarorang{
  margin-left: 1280px;
  margin-top: -60px;
}
.header input[type=text]{
  float: left;
  margin-left: 120px;
  margin-bottom: -15px;
  width: 800px;
  height: 27px;
}
.image{
  padding-left: 100px;
}
.container-1{
  width: 300px;
  vertical-align: middle;
  white-space: nowrap;
  position: relative;
}

