body{
  margin: 0;
  background-color: lightgrey;
}
@keyframes slider{
  0%{
    Left:0;
  }
  20%{
    Left:0;
  }
  25%{
    Left:-100%;
  }
  45%{
    Left:-100%;
  }
  50%{
    Left: -200%;
  }
  70%{
    Left: -200%;
  }
  75%{
    Left: -300%;
  }
  95% {
    Left: -300%;
  }
  100%{
    Left: -400%;
  }
}
#slider{
  overflow: hidden;
}
#slider figure img{
  width: 20%;
  float: left;
}
#slider figure{
  position: relative;
  width: 500%;
  margin: 0;
  left: 0;
  text-align: left;
  font-size: 0;
  animation: 10s slider infinite;
}
input[type=text]{
  width: 100%;
  height: 30%;
  box-sizing: border-box;
  border: 2px solid #cccccc;
  border-radius: 2%;
  font-size: 100%;
  background-color: white;
  background-position: 3% 3%;
  background-repeat: no-repeat;
  padding: 2% 10% 1% 1%;
  background-image: url('image/loop.png');
  background-position-x: right;
}
input[type=text]:focus{
  width: 100%;
}
.header {
  width: 100%;
  height: 87px;
  background-color: #213366;
  color: beige;
}
.header input[type=text] {
  float: left;
  margin-left: 30%;
  margin-top: -6% ;
  margin-bottom: -15%;
  width: 100%;
  height: 27%;
}
.header h1 {
  padding-top: -2%;
  margin-left: 13%;
  text-align: justify;
  font-size: 200%;
  color: beige;
  font-family: "Bodoni Bd BT";
}
.header h2 {
  margin-top: -4%;
  margin-left: 90%;
  text-align: justify;
  font-size: 80%;
  color: beige;
  font-family: Arial;
}
